[Unit]
Description=Raise network interfaces
Documentation=man:interfaces(5)
DefaultDependencies=no
Wants=network-pre.target
Wants=systemd-udev-settle.service
After=network-pre.target systemd-udev-settle.service
Before=network-online.target shutdown.target
Conflicts=shutdown.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/networking
ExecStart=/sbin/ifup -a --read-environment
ExecStop=/sbin/ifdown -a --read-environment
RemainAfterExit=true
